In [1]:
# Functions & Tuple Unpacking

stock_price = [('apple', 200),('google',400),('ms',300)]

In [2]:
#print tuple

for item in stock_price:
    print(item)

('apple', 200)
('google', 400)
('ms', 300)

In [3]:
# Grab individual item

for product, price in stock_price:
    print(product)
    print(price)

apple
200
google
400
ms
300

In [4]:
# 10% increase of price

for product, price in stock_price:
    print(price + (0.1*price))

220.0
440.0
330.0

In [6]:
stock_price = [('apple', 200),('google',400),('ms',300)]

In [7]:
def price_check(stock_price):
    
    max_price = 0
    product = ''
    
    for stock, price in stock_price:
        if price > max_price:
            max_price = price
            product = stock
        else:
            pass
    
    return ( product,max_price)

In [8]:
price_check(stock_price)

('google', 400)

In [9]:
# Tuple Unpacking
product , max_price = price_check(stock_price)

In [10]:
product

'google'

In [11]:
max_price

400

In [12]:
work_hours = [('Jenny',80),('Sammy',150),('Emmy',120)]

In [15]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        
        else:
            pass
            
    
    # Return as tuple
    return (employee_of_month,current_max)

In [16]:
employee_check(work_hours)

('Sammy', 150)