In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [4]:
# To get the results, either iterate through map() 
# or just cast to a list

list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [5]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [6]:
names = ['annday','Eva','Anna']

In [7]:
list(map(splicer,names))

['EVEN', 'E', 'EVEN']

In [8]:
# Filter Function

def check_even(num):
    return num%2==0

In [9]:
mynums = [1,2,3,4,5,6]

In [10]:
list(filter(check_even,mynums))

[2, 4, 6]

In [11]:
for numbers in filter(check_even,mynums):
    print(numbers)

2
4
6

In [19]:
# Lambda Function

def square(num):
    result = num**2
    return result

In [20]:
square(2)

4

In [21]:
# Using lambda function for same output

square = lambda num:num**2

In [22]:
square(5)

25

In [23]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [24]:
# lambda expression for even numbers

list(filter(lambda num:num%2==0, mynums))

[2, 4, 6]

In [16]:
names

['annday', 'Eva', 'Anna']

In [25]:
# lambda expression for grabbing the first character of strings


list(map(lambda x:x[0],names))

['a', 'E', 'A']

In [26]:
# Lambda for reversing a string

list(map(lambda x:x[::-1],names))

['yadnna', 'avE', 'annA']